<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Luaj Editor"
            extensions="lua"
            icon="icons/luajdoc.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.luaj.plugin.editors.LuajEditor"
            id="org.luaj.plugin.editors.LuajEditor">
      </editor>
   </extension>


   <extension
         id="org.luaj.plugin.luajbuilder"
         name="Luaj Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.luaj.plugin.builder.LuajBuilder">
         </run>
      </builder>
   </extension>

   <extension
         id="org.luaj.plugin.luajnature"
         name="Luaj Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.luaj.plugin.builder.LuajNature">
         </run>
      </runtime>
      <builder
            id="org.luaj.plugin.luajbuilder">
      </builder>
	   <requires-nature id="org.eclipse.jdt.core.javanature"/>
   </extension>

   <extension
         id="org.luaj.plugin.syntaxerror"
         name="Luaj Syntax Error"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Luaj Nature Commands"
            id="org.luaj.plugin.nature.category">
      </category>

      <command
            name="Add Luaj Project Nature"
            defaultHandler="org.luaj.plugin.AddLuajNatureHandler"
            categoryId="org.luaj.plugin.nature.category"
            id="sorg.luaj.plugin.AddLuajNatureCommand">
      </command>

      <command
            name="Remove Luaj Project Nature"
            defaultHandler="org.luaj.plugin.RemoveLuajNatureHandler"
            categoryId="org.luaj.plugin.nature.category"
            id="sorg.luaj.plugin.RemoveLuajNatureCommand">
      </command>

   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">

      <objectContribution
            adaptable="false"
            id="org.luaj.plugin.RemoveLuajNatureToIJavaProject"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <action
               class="org.luaj.plugin.RemoveLuajNatureHandler"
               icon="icons/luajdoc.gif"
               id="org.luaj.plugin.RemoveLuajNatureToIJavaProjectAction"
               label="Remove Luaj Nature from IJavaProject">
         </action>
      </objectContribution>

      <objectContribution
            adaptable="false"
            id="org.luaj.plugin.AddLuajNatureToIJavaProject"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <action
               class="org.luaj.plugin.AddLuajNatureHandler"
               icon="icons/luajdoc.gif"
               id="org.luaj.plugin.AddLuajNatureToIJavaProjectAction"
               label="Add Luaj Nature to IJavaProject">
            <enablement>
               <not>
                  <objectState
                        name="hasnature"
                        value="true">
                  </objectState>
               </not>
            </enablement>
         </action>
            
      </objectContribution>
      
      <objectContribution
            adaptable="false"
            id="org.luaj.plugin.AddLuajNatureToIProject"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.luaj.plugin.AddLuajNatureHandler"
               icon="icons/luajdoc.gif"
               id="org.luaj.plugin.AddLuajNatureToIProjectAction"
               label="Add Luaj Nature to IProject">
            <enablement>
               <not>
                  <objectState
                        name="hasnature"
                        value="true">
                  </objectState>
               </not>
            </enablement>
         </action>
      </objectContribution>

   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.luaj.plugin.DecorateHasLuajNature"
            icon="icons/luajproject.gif"
            id="sorg.luaj.plugin.ProjectLuajNatureDecotrator"
            label="Resource Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IProject">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.luaj.plugin.launch.LaunchConfigurationDelegate"
            id="org.luaj.plugin.launch.luajApp"
            modes="run, debug"
            name="Luaj App"
            public="true">
      </launchConfigurationType>
   </extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
	    <launchConfigurationTypeImage
	        icon="icons/luajdoc.gif"
	        configTypeID="org.luaj.plugin.launch.luajApp"
	        id="org.luaj.plugin.launch.luajAppLaunchImage">
	    </launchConfigurationTypeImage>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
	    <launchConfigurationTabGroup
           class="org.luaj.plugin.launch.LuajAppTabGroup"
           description="Launch a Luaj script file"
           id="org.luaj.plugin.launch.luajAppTabGroup"
           type="org.luaj.plugin.launch.luajApp">
	    </launchConfigurationTabGroup>
	</extension>
	<extension point="org.eclipse.debug.ui.launchShortcuts">
	    <shortcut
	        id="org.luaj.plugin.launch.luajAppShortcut"
	        class="org.luaj.plugin.launch.LuajAppLaunchShortcut"
	        label="Luaj App"
	        icon="icons/luajdoc.gif"
	        modes="run, debug">
	            <perspective id="org.eclipse.jdt.ui.JavaPerspective"/>
	            <perspective id="org.eclipse.jdt.ui.JavaHierarchyPerspective"/>
	            <perspective id="org.eclipse.jdt.ui.JavaBrowsingPerspective"/>
	            <perspective id="org.eclipse.debug.ui.DebugPerspective"/>
	    </shortcut>
	</extension>
	<extension
       id="org.luaj.plugin.launch.LuajLaunchGroup"
       point="org.eclipse.debug.ui.launchGroups">
		<launchGroup
			id = "org.luaj.plugin.launch.luajAppLaunchGroup.debug"
			mode = "debug"
			label ="Debug Lua"
			image = "icons/luajdoc.gif"
			bannerImage = "icons/luajdoc.gif">
		</launchGroup>
		<launchGroup
			id = "org.luaj.plugin.launch.luajAppLaunchGroup.run"
			mode = "run"
			label = "Run Lua"
			image = "icons/luajdoc.gif"
			bannerImage = "icons/luajdoc.gif">
		</launchGroup> 
	</extension>

</plugin>
